<ion-view title="Playlist">
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <a id="centerOnMeBtn" class="button button-icon icon ion-person" style="width:46%;display:inline-block;float:left;"><span style="font-family: Calibri; width:100%;color:white;font-size: 16px;margin-left:8px;">Find Me</span></a>
        <a id="zoomToBusBtn" class="button button-icon icon ion-search" style="width:50%;display:inline-block;float:left;"><span style="font-family: Calibri; width:100%;color:white;font-size: 16px;margin-left:8px;">Zoom to bus</span></a>
    </ion-footer-bar>   
</ion-view>
